@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.list-card {
    border: 4px solid rgb(121, 121, 91);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.list-card img {
    width: 200px;
}

.list-card p {
    
    font-size: 2rem;
}

@media only screen and (max-width: 900px) {
    .list-card img {
        width: 100px;
    }
    .list-card p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .list-card img {
        width: 60px;
    }
    .list-card p {
        font-size: .7rem;
    }
}